Repository ese111/airbnb, pull requests merged in 2022-06, with the labels that each got.

#30 [Android] FEAT: 달력 완성
  Android/app/build.gradle
  Android/app/src/main/AndroidManifest.xml
  Android/app/src/main/java/com/team16/airbnb/AirbnbApplication.kt
  Android/app/src/main/java/com/team16/airbnb/MoneyRangeFragment.kt
  Android/app/src/main/java/com/team16/airbnb/PersonFragment.kt
  Android/app/src/main/java/com/team16/airbnb/common/DateChoiceListener.kt
  Android/app/src/main/java/com/team16/airbnb/common/ImageBindingAdapter.kt
  Android/app/src/main/java/com/team16/airbnb/common/TextBindingAdapter.kt
  Android/app/src/main/java/com/team16/airbnb/data/datasource/CalendarDataSource.kt
  Android/app/src/main/java/com/team16/airbnb/data/datasource/CalendarDataSourceImpl.kt
  Android/app/src/main/java/com/team16/airbnb/data/model/CalendarData.kt
  Android/app/src/main/java/com/team16/airbnb/data/model/DayInfo.kt
  Android/app/src/main/java/com/team16/airbnb/data/model/NearInfo.kt
  Android/app/src/main/java/com/team16/airbnb/data/repository/CalendarRepository.kt
  Android/app/src/main/java/com/team16/airbnb/data/repository/CalendarRepositoryImpl.kt
  Android/app/src/main/java/com/team16/airbnb/di/DataSourceModule.kt
  Android/app/src/main/java/com/team16/airbnb/di/RepositoryModule.kt
  Android/app/src/main/java/com/team16/airbnb/ui/HomeFragment.kt
  Android/app/src/main/java/com/team16/airbnb/ui/MainActivity.kt
  Android/app/src/main/java/com/team16/airbnb/ui/calendar/CalendarAdapter.kt
  Android/app/src/main/java/com/team16/airbnb/ui/calendar/CalendarFragment.kt
  Android/app/src/main/java/com/team16/airbnb/ui/calendar/CalendarViewModel.kt
  Android/app/src/main/java/com/team16/airbnb/ui/calendar/DayAdapter.kt
  Android/app/src/main/java/com/team16/airbnb/ui/search/PopularAdapter.kt
  Android/app/src/main/java/com/team16/airbnb/ui/search/SearchFragment.kt
  Android/app/src/main/java/com/team16/airbnb/ui/search/detail/DetailSearchActivity.kt
  Android/app/src/main/java/com/team16/airbnb/ui/search/detail/DetailSearchFragment.kt
  Android/app/src/main/res/drawable/ic_choice_date.xml
  Android/app/src/main/res/drawable/ic_date_complete_end.xml
  Android/app/src/main/res/drawable/ic_date_complete_start.xml
  Android/app/src/main/res/drawable/ic_date_range.xml
  Android/app/src/main/res/drawable/ic_detail_search_check.xml
  Android/app/src/main/res/layout/activity_detail_search.xml
  Android/app/src/main/res/layout/fragment_calendar.xml
  Android/app/src/main/res/layout/fragment_detail_search.xml
  Android/app/src/main/res/layout/fragment_money_range.xml
  Android/app/src/main/res/layout/fragment_person.xml
  Android/app/src/main/res/layout/fragment_search.xml
  Android/app/src/main/res/layout/item_calendar.xml
  Android/app/src/main/res/layout/item_days.xml
  Android/app/src/main/res/layout/item_popular.xml
  Android/app/src/main/res/layout/item_popular_header.xml
  Android/app/src/main/res/menu/detail_search_menu.xml
  Android/app/src/main/res/navigation/detail_search_graph.xml
  Android/app/src/main/res/values/strings.xml
  Android/build.gradle
Labels: Android

#31 [android] fix: 지난 날짜 클릭되는 현상 수정
  Android/app/src/main/java/com/team16/airbnb/common/ButtonBindingAdapter.kt
  Android/app/src/main/java/com/team16/airbnb/ui/calendar/CalendarFragment.kt
  Android/app/src/main/java/com/team16/airbnb/ui/calendar/CalendarViewModel.kt
  Android/app/src/main/java/com/team16/airbnb/ui/calendar/DayAdapter.kt
  Android/app/src/main/java/com/team16/airbnb/ui/search/detail/DetailSearchActivity.kt
  Android/app/src/main/java/com/team16/airbnb/ui/search/detail/DetailSearchFragment.kt
  Android/app/src/main/res/drawable/ic_minus.xml
  Android/app/src/main/res/drawable/ic_plus.xml
  Android/app/src/main/res/layout/activity_detail_search.xml
  Android/app/src/main/res/layout/fragment_calendar.xml
  Android/app/src/main/res/layout/fragment_detail_search.xml
  Android/app/src/main/res/layout/fragment_money_range.xml
  Android/app/src/main/res/layout/fragment_person.xml
  Android/app/src/main/res/menu/detail_search_menu.xml
  Android/app/src/main/res/values/strings.xml
Labels: Android

#36 [Android] feat: 가격 설정 차트 추가
  Android/app/build.gradle
  Android/app/src/main/java/com/team16/airbnb/MoneyRangeFragment.kt
  Android/app/src/main/java/com/team16/airbnb/ui/search/detail/DetailSearchActivity.kt
  Android/app/src/main/res/layout/activity_detail_search.xml
  Android/app/src/main/res/layout/fragment_money_range.xml
  Android/settings.gradle
Labels: Android

#38 [Android] calendar 피드백 반영
  Android/app/src/main/java/com/team16/airbnb/common/TextBindingAdapter.kt
  Android/app/src/main/java/com/team16/airbnb/data/datasource/CalendarDataSource.kt
  Android/app/src/main/java/com/team16/airbnb/data/datasource/CalendarDataSourceImpl.kt
  Android/app/src/main/java/com/team16/airbnb/data/repository/CalendarRepository.kt
  Android/app/src/main/java/com/team16/airbnb/data/repository/CalendarRepositoryImpl.kt
  Android/app/src/main/java/com/team16/airbnb/di/DataSourceModule.kt
  Android/app/src/main/java/com/team16/airbnb/di/RepositoryModule.kt
  Android/app/src/main/java/com/team16/airbnb/ui/calendar/CalendarAdapter.kt
  Android/app/src/main/java/com/team16/airbnb/ui/calendar/CalendarViewModel.kt
  Android/app/src/main/res/layout/item_calendar.xml
Labels: Android

#41 [Android] searchResult 화면 어뎁터 생성
  Android/app/build.gradle
  Android/app/src/main/java/com/team16/airbnb/common/TextBindingAdapter.kt
  Android/app/src/main/java/com/team16/airbnb/data/dto/SearchResultDTO.kt
  Android/app/src/main/java/com/team16/airbnb/data/model/SearchResult.kt
  Android/app/src/main/java/com/team16/airbnb/ui/search/SearchResultAdapter.kt
  Android/app/src/main/java/com/team16/airbnb/ui/search/SearchResultFragment.kt
  Android/app/src/main/res/layout/fragment_search_result.xml
  Android/app/src/main/res/layout/item_search_result.xml
  Android/app/src/main/res/navigation/nav_graph.xml
  Android/build.gradle
Labels: Android

#45 [Android] feat: 예약 페이지 구현
  Android/app/src/main/java/com/team16/airbnb/common/TextBindingAdapter.kt
  Android/app/src/main/java/com/team16/airbnb/data/dto/MyBookDTO.kt
  Android/app/src/main/java/com/team16/airbnb/data/model/MyBookData.kt
  Android/app/src/main/java/com/team16/airbnb/ui/mybook/MyBookAdapter.kt
  Android/app/src/main/java/com/team16/airbnb/ui/mybook/MyBookFragment.kt
  Android/app/src/main/res/layout/fragment_my_book.xml
  Android/app/src/main/res/layout/item_my_book.xml
  Android/app/src/main/res/layout/item_mybook2.xml
  Android/app/src/main/res/values/strings.xml
Labels: Android

#46 [Android] feat: 예약 상세화면 구현
  Android/app/src/main/java/com/team16/airbnb/common/DetailMoveListener.kt
  Android/app/src/main/java/com/team16/airbnb/common/TextBindingAdapter.kt
  Android/app/src/main/java/com/team16/airbnb/data/dto/DetailBookDTO.kt
  Android/app/src/main/java/com/team16/airbnb/data/dto/MyBookDTO.kt
  Android/app/src/main/java/com/team16/airbnb/data/model/Address.kt
  Android/app/src/main/java/com/team16/airbnb/data/model/DetailBookData.kt
  Android/app/src/main/java/com/team16/airbnb/data/model/MyBookData.kt
  Android/app/src/main/java/com/team16/airbnb/ui/mybook/MyBookAdapter.kt
  Android/app/src/main/java/com/team16/airbnb/ui/mybook/MyBookFragment.kt
  Android/app/src/main/java/com/team16/airbnb/ui/mybook/detail/DetailMyBookFragment.kt
  Android/app/src/main/res/drawable/book_cancel_button.xml
  Android/app/src/main/res/layout/fragment_detail_my_book.xml
  Android/app/src/main/res/navigation/nav_graph.xml
  Android/app/src/main/res/values/strings.xml
Labels: Android

#48 feat: 배포에 필요한 파일 설정
  BE/Dockerfile
  BE/build.gradle
Labels: feature, BE

#57 Feature oauth2
  BE/.gitignore
  BE/build.gradle
  BE/src/main/generated/yanse/airbnb/domain/image/QImage.java
  BE/src/main/generated/yanse/airbnb/domain/image/QRoomImage.java
  BE/src/main/generated/yanse/airbnb/domain/member/QMembers.java
  BE/src/main/generated/yanse/airbnb/domain/reservation/QDetailFee.java
  BE/src/main/generated/yanse/airbnb/domain/reservation/QReservation.java
  BE/src/main/generated/yanse/airbnb/domain/room/QAddress.java
  BE/src/main/generated/yanse/airbnb/domain/room/QRoom.java
  BE/src/main/generated/yanse/airbnb/domain/room/QRoomInfo.java
  BE/src/main/generated/yanse/airbnb/domain/wish/QWish.java
  BE/src/main/java/yanse/airbnb/auth/AuthController.java
  BE/src/main/java/yanse/airbnb/auth/AuthService.java
  BE/src/main/java/yanse/airbnb/auth/LoginService.java
  BE/src/main/java/yanse/airbnb/auth/dto/AccessToken.java
  BE/src/main/java/yanse/airbnb/auth/dto/AccessTokenRequest.java
  BE/src/main/java/yanse/airbnb/auth/github/GithubUser.java
  BE/src/main/java/yanse/airbnb/auth/jwt/JwtUtil.java
  BE/src/main/java/yanse/airbnb/domain/image/Image.java
  BE/src/main/java/yanse/airbnb/domain/member/Members.java
  BE/src/main/java/yanse/airbnb/domain/member/repository/MembersRepository.java
  BE/src/main/java/yanse/airbnb/domain/room/repository/RoomRepositoryCustom.java
  BE/src/main/java/yanse/airbnb/domain/room/repository/RoomRepositoryImpl.java
  BE/src/main/java/yanse/airbnb/service/MainService.java
  BE/src/main/java/yanse/airbnb/service/SearchService.java
  BE/src/main/java/yanse/airbnb/web/controller/MainController.java
  BE/src/main/java/yanse/airbnb/web/controller/SearchController.java
  BE/src/main/java/yanse/airbnb/web/dto/ResponseDto.java
  BE/src/main/java/yanse/airbnb/web/dto/image/ImageDto.java
  BE/src/main/java/yanse/airbnb/web/dto/image/RoomImageDto.java
  BE/src/main/java/yanse/airbnb/web/dto/room/RequestRoomSearchDto.java
  BE/src/main/java/yanse/airbnb/web/dto/room/ResponseRoomDto.java
  BE/src/main/java/yanse/airbnb/web/dto/room/RoomDetailDto.java
  BE/src/main/resources/application-oauth.yml
  BE/src/main/resources/application.yml
Labels: BE

#59 [Android] search layout 헤더 크기 조정
  Android/app/build.gradle
  Android/app/src/main/AndroidManifest.xml
  Android/app/src/main/java/com/team16/airbnb/common/ApiState.kt
  Android/app/src/main/java/com/team16/airbnb/common/DetailMoveListener.kt
  Android/app/src/main/java/com/team16/airbnb/common/TextBindingAdapter.kt
  Android/app/src/main/java/com/team16/airbnb/data/datasource/HomeDataSource.kt
  Android/app/src/main/java/com/team16/airbnb/data/dto/DetailBookDTO.kt
  Android/app/src/main/java/com/team16/airbnb/data/dto/MyBookDTO.kt
  Android/app/src/main/java/com/team16/airbnb/data/dto/near/NearResult.kt
  Android/app/src/main/java/com/team16/airbnb/data/dto/near/NearResultResponseDto.kt
  Android/app/src/main/java/com/team16/airbnb/data/model/Address.kt
  Android/app/src/main/java/com/team16/airbnb/data/model/DetailBookData.kt
  Android/app/src/main/java/com/team16/airbnb/data/model/MyBookData.kt
  Android/app/src/main/java/com/team16/airbnb/data/model/MyPlace.kt
  Android/app/src/main/java/com/team16/airbnb/data/model/NearInfo.kt
  Android/app/src/main/java/com/team16/airbnb/data/network/HomeApi.kt
  Android/app/src/main/java/com/team16/airbnb/data/network/SearchApi.kt
  Android/app/src/main/java/com/team16/airbnb/data/repository/HomeRepository.kt
  Android/app/src/main/java/com/team16/airbnb/di/DataSourceModule.kt
  Android/app/src/main/java/com/team16/airbnb/di/NetworkModule.kt
  Android/app/src/main/java/com/team16/airbnb/di/RepositoryModule.kt
  Android/app/src/main/java/com/team16/airbnb/ui/home/HomeFragment.kt
  Android/app/src/main/java/com/team16/airbnb/ui/home/HomeViewModel.kt
  Android/app/src/main/java/com/team16/airbnb/ui/mybook/MyBookAdapter.kt
  Android/app/src/main/java/com/team16/airbnb/ui/mybook/MyBookFragment.kt
  Android/app/src/main/java/com/team16/airbnb/ui/mybook/detail/DetailMyBookFragment.kt
  Android/app/src/main/java/com/team16/airbnb/ui/search/PopularAdapter.kt
  Android/app/src/main/java/com/team16/airbnb/ui/search/SearchFragment.kt
  Android/app/src/main/java/com/team16/airbnb/ui/search/SearchResultFragment.kt
  Android/app/src/main/java/com/team16/airbnb/ui/search/map/MapActivity.kt
  Android/app/src/main/res/drawable/book_cancel_button.xml
  Android/app/src/main/res/drawable/ic_map.xml
  Android/app/src/main/res/drawable/layerlist_background.xml
  Android/app/src/main/res/layout/activity_map.xml
  Android/app/src/main/res/layout/fragment_detail_my_book.xml
  Android/app/src/main/res/layout/fragment_search_result.xml
  Android/app/src/main/res/layout/item_popular.xml
  Android/app/src/main/res/layout/item_popular_header.xml
  Android/app/src/main/res/layout/item_search_area.xml
  Android/app/src/main/res/layout/marker_layout.xml
  Android/app/src/main/res/navigation/nav_graph.xml
  Android/app/src/main/res/values/strings.xml
  Android/build.gradle
Labels: Android

#63 [Android] feat: home 화면 api 연결
  Android/app/src/main/java/com/team16/airbnb/data/datasource/HomeDataSource.kt
  Android/app/src/main/java/com/team16/airbnb/data/dto/WishDTO.kt
  Android/app/src/main/java/com/team16/airbnb/data/dto/near/NearResult.kt
  Android/app/src/main/java/com/team16/airbnb/data/dto/near/NearResultResponseDto.kt
  Android/app/src/main/java/com/team16/airbnb/data/dto/search/SearchDTO.kt
  Android/app/src/main/java/com/team16/airbnb/data/model/CalendarData.kt
  Android/app/src/main/java/com/team16/airbnb/data/model/DetailBookData.kt
  Android/app/src/main/java/com/team16/airbnb/data/model/NearInfo.kt
  Android/app/src/main/java/com/team16/airbnb/data/model/SearchData.kt
  Android/app/src/main/java/com/team16/airbnb/data/model/calendar/CalendarData.kt
  Android/app/src/main/java/com/team16/airbnb/data/model/home/NearResult.kt
  Android/app/src/main/java/com/team16/airbnb/data/network/HomeApi.kt
  Android/app/src/main/java/com/team16/airbnb/data/network/SearchApi.kt
  Android/app/src/main/java/com/team16/airbnb/data/repository/BaseHomeRepository.kt
  Android/app/src/main/java/com/team16/airbnb/data/repository/HomeRepository.kt
  Android/app/src/main/java/com/team16/airbnb/di/NetworkModule.kt
  Android/app/src/main/java/com/team16/airbnb/ui/calendar/CalendarAdapter.kt
  Android/app/src/main/java/com/team16/airbnb/ui/calendar/CalendarViewModel.kt
  Android/app/src/main/java/com/team16/airbnb/ui/home/HomeFragment.kt
  Android/app/src/main/java/com/team16/airbnb/ui/home/HomeViewModel.kt
  Android/app/src/main/java/com/team16/airbnb/ui/search/PopularAdapter.kt
  Android/app/src/main/java/com/team16/airbnb/ui/search/SearchFragment.kt
  Android/app/src/main/res/layout/item_calendar.xml
  Android/app/src/main/res/layout/item_popular.xml
Labels: Android

#69 feat: Jwt토큰으로 로그인검증 및 예약하기 기능
  BE/src/main/java/yanse/airbnb/auth/AuthController.java
  BE/src/main/java/yanse/airbnb/auth/annotation/AccessTokenHeader.java
  BE/src/main/java/yanse/airbnb/auth/annotation/AccessTokenResolver.java
  BE/src/main/java/yanse/airbnb/auth/jwt/JwtInterceptor.java
  BE/src/main/java/yanse/airbnb/auth/jwt/JwtUtil.java
  BE/src/main/java/yanse/airbnb/auth/jwt/JwtUtils.java
  BE/src/main/java/yanse/airbnb/config/WebConfig.java
  BE/src/main/java/yanse/airbnb/domain/member/Members.java
  BE/src/main/java/yanse/airbnb/domain/member/repository/MembersRepository.java
  BE/src/main/java/yanse/airbnb/domain/reservation/Reservation.java
  BE/src/main/java/yanse/airbnb/domain/reservation/repositroy/ReservationRepository.java
  BE/src/main/java/yanse/airbnb/domain/room/Room.java
  BE/src/main/java/yanse/airbnb/domain/room/repository/RoomRepositoryImpl.java
  BE/src/main/java/yanse/airbnb/service/MembersService.java
  BE/src/main/java/yanse/airbnb/service/ReservationService.java
  BE/src/main/java/yanse/airbnb/web/controller/ReservationController.java
  BE/src/main/java/yanse/airbnb/web/dto/reservation/RequestReservationDto.java
  BE/src/main/java/yanse/airbnb/web/dto/reservation/ResponseReservationDto.java
  BE/src/main/resources/data.sql
Labels: BE
